@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  text-align: center;
}
img {
  max-width: 100%;
}

/* NavComponent */ 
.section-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  text-align: left;
  padding: 2em 0;
}
.section-nav > div:nth-child(1) {
  width: 35%;
}
.section-nav img {
  width: 100%;
}
.section-nav ul {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.section-nav ul li {
  margin-left: 1em;
}

/* HeroComponent */
.hero-container {
  width: 90%;
  margin: auto;
}
.hero-container > div:nth-child(1) {
  padding-bottom: 1.5em;
}
.hero-title {
  color: rgb(6, 3, 58);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  width: 90%;
  margin: auto;
  padding-bottom: 1em;
}
.hero-text {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 1.5em;
}
.hero form input {
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1.5em;
  width: 90%;
}
.hero form input::placeholder {
  color: rgb(209, 207, 207);
  font-family: 'Open Sans', sans-serif;
}
.hero form button {
  border: none;
  border-radius: 5px;
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 1em 0;
  width: 100%;
}
